<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hbDemo?useSSL=false</property>
        <property name="connection.username">vishaluser</property>
        <property name="connection.password">15071998</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.cts.training.entity.Countries"/>
        <mapping class="com.cts.training.entity.Regions"/>
        <mapping class="com.cts.training.entity.Locations"/>
        <mapping class="com.cts.training.entity.Departments"/>
        <mapping class="com.cts.training.entity.Jobs"/>
        <mapping class="com.cts.training.entity.JobHistory"/>
        <mapping class="com.cts.training.entity.Employees"/>
    </session-factory>
</hibernate-configuration>